version: '3.8'

services:
  app:
    build: .
    environment:
      SERVER_PORT: ${SERVER_PORT}
      DB_CONNECTION_STRING: mongodb://user:${MONGO_USER_PASSWORD}@mongodb:27017/${MONGO_DATABASE}
      KYC_TOKEN: <!!!>
      KYC_FORM_ID_PERSON: <!!!>
      KYC_FORM_ID_COMPANY: <!!!>
      ADMIN_AUTH_TOKEN: 239231db00638243fa0b1d03488842ea1c06
      ACCESS_KEY_ID: <!!!>
      SECRET_ACCESS_KEY: <!!!>
      AWS_REGION: eu-west-3
      S3_BUCKET_NAME: envoysvision
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:4.4
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: TyYTfVzz5znX9AZy
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
      MONGO_USER: user
      MONGO_PASSWORD: ${MONGO_USER_PASSWORD}
    volumes:
      - mongodb_data:/data/db
      - ./.circleci/mongo/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh
    ports:
      - "27017:27017"

volumes:
  mongodb_data:
